# === Remix output ===
.deps/
.states/
artifacts/

# === Node ===
node_modules/
**/node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# === Build outputs ===
dist/
build/
.cache/

# === OS / Editor ===
.DS_Store
Thumbs.db
.vscode/
.idea/

# === IPFS ===
.ipfs/
**/ipfs-data/

